# Copy this to:
# ~/.local/share/isolated-desktops/profiles/jakoolit/preset.env
# or edit the adapter to point elsewhere.

gtk_themes="ON"
bluetooth="OFF"
thunar="ON"
quickshell="OFF"
sddm="OFF"
sddm_theme="OFF"
xdph="ON"
zsh="OFF"
pokemon="OFF"
rog="OFF"
dots="ON"
input_group="OFF"
nvidia="OFF"
nouveau="OFF"
